- 2588

In [36]:
a = int(input())
b = input()

print(a*int(b[2]))
print(a*int(b[1]))
print(a*int(b[0]))
print(a*int(b))

2360
3776
1416
181720

- 25304

In [37]:
x = int(input())            # 총금액    
n = int(input())            # 물건개수
sum = 0
for i in range(n):
  price, cnt = map(int, input().split())
  sum += (price*cnt)

if x == sum:
  print("Yes")
else:
  print("No")

Yes

- 2562

In [65]:
a = []
for i in range(9):
    x = int(input())
    a.append(x)
print(max(a))
print(a.index(max(a))+1)

85
8

- 2908

In [32]:
a, b = map(int,input().split())
ra = int(str(a)[::-1])
rb = int(str(b)[::-1])
if ra > rb:
    print(ra)
else:
    print(rb)

1

- 2444

In [34]:
n = int,input()
n(1 < n < 100)

TypeError: '<' not supported between instances of 'int' and 'tuple'