### 4.1 리스트(list)

In [25]:
a = [3, 7, 12, 16, 23]
type(a)

list

In [26]:
# 파이썬의 리스트 - 모든 자료형의 데이터를 섞어서 사용할 수 있음
person = ['James', 27, 'programmer', 175.4]
person

['James', 27, 'programmer', 175.4]

- 인덱싱

In [27]:
# a의 있는값을 인덱스번호값으로 꺼내기
a[0], a[-1], person[2]

(3, 23, 'programmer')

- 슬라이싱

In [28]:
# 시작인덱스 1(시작인덱스가 0일경우 생략가능)  + 끝낼인덱스(끝일경우생략) +1 증가분(증가분은 1일경우 생략가능)
a[1:4], a[:2], a[3:]

([7, 12, 16], [3, 7], [16, 23])

In [29]:
a[::2], a[::-1]

([3, 12, 23], [23, 16, 12, 7, 3])

- 값 변경

In [30]:
a[0] = 1
a[-1] = 31
a

[1, 7, 12, 16, 31]

In [31]:
a[2] = [10, 20]
a

[1, 7, [10, 20], 16, 31]

In [32]:
#새로 입력한 값 10 (a라는리스트 안에 2번안에있는(type리스트) 첫번째값)
a[2][0]

10

In [33]:
# 슬라이싱으로 값을 변경
a[3:] = [45, 78]
a

[1, 7, [10, 20], 45, 78]

In [34]:
a[:2] = [100, 200, 300]
a

[100, 200, 300, [10, 20], 45, 78]

In [35]:
a[3][1] = [-1, -3, -5]
a

[100, 200, 300, [10, [-1, -3, -5]], 45, 78]

In [36]:
a[1:2] = [500,600]
a

[100, 500, 600, 300, [10, [-1, -3, -5]], 45, 78]

In [38]:
# 리스트 맨 뒤에 값을 추가시키려면
a[7] = 20

In [37]:
# append method를 사용해야 함
a.append(20)
a

[100, 500, 600, 300, [10, [-1, -3, -5]], 45, 78, 20]

- 빈 리스트 만들기

In [39]:
b = []
c = list()

In [40]:
import random
for i in range(5):
    b.append(random.randint(1, 6))
b

[6, 6, 2, 3, 5]

- 리스트 연산

In [41]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b           # 리스트 연결(concatanation)

[1, 2, 3, 4, 5, 6]

In [42]:
a * 3       # 반복

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [43]:
len(a), type(a)

(3, list)

In [44]:
min(a), max(a), sum(a)

(1, 3, 6)

In [45]:
list(reversed(a))

[3, 2, 1]

In [46]:
sorted([44, 8, 9, 3, 25])

[3, 8, 9, 25, 44]

### Tuple(튜플)
- 일단 생성되면 값을 변경할 수 없음(immutable)

In [47]:
t = (4, 35, 7, 25, 10)
type(t), t

(tuple, (4, 35, 7, 25, 10))

In [48]:
t = 4, 6, 12
type(t)

tuple

In [51]:
# 1개 원소를 갖는 튜플
x = (4, )               # x = 4, 도 가능, x = (4)는 튜플이 아님
type(x)

tuple

In [52]:
# 리스트와 동일하게 인덱싱할 수 있음
t[0]

4

In [53]:
# 값을 변경할 수 없음
t[0] = 1

TypeError: 'tuple' object does not support item assignment

- List/tuple unpacking

In [54]:
x, y, z = (10, 20, 30)
x, y, z

(10, 20, 30)

In [55]:
x, y, z = [3,4,5]
x, y, z

(3, 4, 5)

In [56]:
list('ABC')

['A', 'B', 'C']

In [58]:
x, y, z = list('ABC')
x, y, z

('A', 'B', 'C')