### 4.9 2차원 리스트

In [1]:
a = [[10, 20],[30, 40], [50, 60]]
a

[[10, 20], [30, 40], [50, 60]]

In [3]:
from pprint import pprint
pprint(a, width=20)

[[10, 20],
 [30, 40],
 [50, 60]]

In [4]:
import numpy as np
b = np.arange(10, 61, 10).reshape(3, 2)
b

array([[10, 20],
       [30, 40],
       [50, 60]])

In [8]:
import pandas as pd
df = pd.DataFrame(b, columns=['first', 'second'])
df

   first  second
0     10      20
1     30      40
2     50      60

- 인덱싱

In [9]:
# 30 numpy는 한괄호안에 , 로 구분해서 사용가능
a[1][0], b[1,0], df['first'][1]

(30, 30, 30)

- 2차원 리스트의 반복문

In [10]:
for row in a:
    print(row)

[10, 20]
[30, 40]
[50, 60]

In [11]:
len(a)

3

In [12]:
a[0]

[10, 20]

- 반복문으로 2차원 리스트 만들기

In [17]:
# 주사위를 던져서 나오는 눈으로 만든 3 x 4 리스트
import random
outer_list = []
for i in range(3):
    inner_list = []
    for k in range(4):
        inner_list.append(random.randint(1, 6))
    outer_list.append(inner_list)
pprint(outer_list, width=20)

[[4, 4, 5, 4],
 [6, 1, 6, 1],
 [6, 1, 5, 5]]

- 밖에있는 리스트를 포문에 들어가기전에 만들고 안에있는 리스트를 포문으로 또 만들어서 
둘다 어펜트 로 값을 넣어준다

In [19]:
# random() > 0.7 --> 지뢰(*), 아니면.
# 8 X 8 크기
mines = []
for _ in range(8):
    rows = []
    for k in range(8):
        if random.random() > 0.7:
            rows.append('*')
        else: 
            rows.append('.')
    mines.append(rows)
pprint(mines, width=80)

[['.', '.', '*', '.', '.', '.', '.', '.'],
 ['.', '*', '*', '.', '*', '*', '.', '*'],
 ['.', '.', '*', '*', '*', '.', '*', '.'],
 ['.', '.', '.', '.', '.', '.', '*', '.'],
 ['.', '*', '.', '.', '.', '.', '.', '.'],
 ['.', '.', '.', '.', '.', '.', '*', '.'],
 ['.', '*', '.', '.', '.', '*', '.', '*'],
 ['.', '.', '.', '.', '.', '*', '.', '.']]

- 표현식

In [20]:
outer_list = []
for i in range(3):
    inner_list = [random.randint(1, 6) for k in range(4)]
    outer_list.append(inner_list)
pprint(outer_list, width=20)

[[4, 4, 3, 5],
 [4, 1, 5, 1],
 [6, 4, 6, 2]]

In [21]:
outer_list = [[random.randint(1, 6) for _ in range(4)] for _ in range(3)]
pprint(outer_list, width=20)

[[4, 1, 4, 4],
 [4, 3, 2, 1],
 [2, 4, 1, 6]]